<div class="col-xs-3">
  <div style="border:1px solid;">
    <p style="text-align: center; border:1px solid;">ジャンル検索</p>
    <p>ケーキ</p>
    <br>
    <p>焼き菓子</p>
    <br>
    <p>プリン</p>
    <br>
    <p>キャンディ</p>
    <br><br><br>
  </div>
</div>