<h1>山田花子さんの会員詳細</h1>


	  <table class="table">
	  <tr>
        <th>顧客ID</th>
        <td>1 <div class="btn btn-primary">有効会員</div></td>
      </tr>
      <tr>
        <th>氏名</th>
        <td>山田　花子</td>
      </tr>
      <tr>
        <th>フリガナ</th>
        <td>ヤマダ　ハナコ</td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td>1500041</td>
      </tr>
      <tr>
        <th>住所</th>
        <td>東京都渋谷区神南１丁目１９−１１ パークウェースクエア2 4階</td>
      </tr>
      <tr>
        <th>電話番号</th>
          <td>0368694700</td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td>hoge@example.com</td>
      </tr>
    </table>
    
    <div class="btn btn-primary">編集する</div>
    <div class="btn btn-primary">注文履歴一覧を見る</div>