// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sidebar ul {
  margin-top: 80px;
  margin-right:40px;
}

.sidebar ul li:first-child {
  height: 80px;
  line-height: 80px;
  border-top:3px solid seagreen;
}

.sidebar ul li {
  height: 40px;
  border-bottom:1px solid seagreen;
  text-align: center;
  line-height: 40px;
}

.sidebar ul li:last-child {
  border-bottom:3px solid seagreen;
}

.about-content h3 {
  margin-left:250px;
}

.table-bordered {
  margin-top:30px;
}

.table-bordered th {
  width: 100px;
  height: 60px;
  text-align: center;
}