// Place all the styles related to the public/members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wd-text {
  margin-top: 180px;
}

.wd-text p {
  font-size: 20px;
}

.withdraw {
  color: white;
  width: 50%;
  margin: 0 auto
}