<div class="container">
  
  <div class="row">
    <h2>商品詳細</h2>
    
    <!-- 画像選択欄 -->
    <div class="col-xs-4">
      <p>画像</p>
    </div>

    <!-- 商品登録フォーム -->
    <div class="col-xs-8">
      <form>
        <h4 style="margin-bottom: 30px;">
          商品名　　洋梨のチーズタルト
        </h4>
        <h4 style="margin-bottom: 30px;">
          商品説明　北海道産の最高級カッテージチーズ＆最高級生クリームを贅沢に使用。
        </h4>
        <h4 style="margin-bottom: 30px;">
          ジャンル　ケーキ
        </h4>
        <h4 style="margin-bottom: 30px;">
          税込価格(税抜価格)　1,100(1,000)円
        </h4>
        <h4 style="margin-bottom: 30px;">
          販売ステータス　販売中
        </h4>
      </form>
      <button class="btn btn-primary pull-right btn-lg">編集する</button>
    </div>
  </div>
</div>

