
<h2>企業理念</h2>
<p>Mary's Mission
私たちはお菓子を通じ
お客様の「想いを贈る」お手伝いをすることで
潤いのある生活づくりに貢献します</p>
<h2>社長挨拶</h2>
『ないもの」をつくりたい。
これからも。』<br><br>

<p>世の中には「ないもの」がまだまだいっぱいある。<br>
それを見つけ出し、つくることが「おいしい きもち！」につながる。<br>
この想いは創業時から変わらず、ドンレミーにしかできない<br>
デザートづくりのために日々チャレンジしています。<br>
たとえば、手づくりへのこだわり。<br>
手間と効率の両立を実現させるために、<br>
画期的な現場改革に取り組んでいます。<br>
また、マレーシアへの進出は、世界中の国々を訪れるなかで生まれた、<br>
世界中のひとに「おいしい きもち！」を届けたいという夢の一歩となりました。<br>
技術力を磨き、豊かな発想力、確かな品質で<br>
これからも「ないもの」をつくりたい。<br>
チャレンジを続けるドンレミーにご期待ください。</p>
<h2>歴史・沿革</h2>
<p>1950（昭和25）年10月
東京都渋谷区青山青葉町において高級チョコレート並びにキャンディの製造販売を始める<br>
1952（昭和27）年09月
株式会社メリーチョコレートカムパニー設立。原 堅太郎、社長に就任<br>
1958（昭和33）年02月
東京の百貨店で初めてのバレンタインセール実施<br>
1969（昭和44）年09月
東京都大田区大森西7丁目に本社工場を新築移転する<br>
1972（昭和47）年04月
マロングラッセの製造販売を始める<br>
1978（昭和53）年05月
デザートゼリーの製造販売を始める<br>
1979（昭和54）年09月
ファンシーアメリカン（現在のファンシーチョコレート）の製造販売を始める<br>
1986（昭和61）年10月
船橋工場新築完成
1994（平成06）年08月
船橋工場増築及び情報流通センター完成<br>
1997（平成09）年09月
エスプリ ド メリーの製造販売を始める<br>
2000（平成12）年10月
サロン・デュ・ショコラ パリに日本で初めて出展<br>
2002（平成14）年11月
サロン・デュ・ショコラ パリで準グランプリ受賞<br></p>
<h2>品質保証の理念</h2>
<p>お客様への安全で高品質な商品・サービスの提供を通じて、
お客様のより豊かな生活に貢献します。</p>