<h2>企業理念</h2>
<p>Mary's Mission
私たちはお菓子を通じ
お客様の「想いを贈る」お手伝いをすることで
潤いのある生活づくりに貢献します</p>
<h2>社長挨拶</h2>
『ないもの」をつくりたい。
これからも。』<br><br>

<p>世の中には「ないもの」がまだまだいっぱいある。<br>
それを見つけ出し、つくることが「おいしい きもち！」につながる。<br>
この想いは創業時から変わらず、ながのCakeにしかできない<br>
デザートづくりのために日々チャレンジしています。<br>
たとえば、手づくりへのこだわり。<br>
手間と効率の両立を実現させるために、<br>
画期的な現場改革に取り組んでいます。<br>
技術力を磨き、豊かな発想力、確かな品質で<br>
これからも「ないもの」をつくりたい。<br>
チャレンジを続けるながのCakeにご期待ください。</p>
<h2>歴史・沿革</h2>
<p>1950（昭和25）年10月
長野県安曇野市においてケーキ並びにキャンディの製造販売を始める<br>
1952（昭和27）年09月
株式会社ユートピア設立。奥原 夢輝、社長に就任<br>
1958（昭和33）年02月
東京の百貨店で初めてのバレンタインセール実施<br>
1969（昭和44）年09月
長野県松本市山葵町に本社店舗を新築移転する<br>
1972（昭和47）年04月
山葵使用商品の製造販売を始める<br>
1978（昭和53）年05月
りんご商品の製造販売を始める<br>
1979（昭和54）年09月
アイスの製造販売を始める<br>
1986（昭和61）年10月
店舗改装開始<br>
1994（平成06）年08月
改装工事終了。新店舗完成<br></p>
<h2>品質保証の理念</h2>
<p>お客様への安全で高品質な商品・サービスの提供を通じて、
お客様のより豊かな生活に貢献します。</p>