<div class="container">
  <div class="row">
  	<%= render "public/shared/sidebar" %>

  	<div class="col-xs-9">
  		<div style="width:700px; height:250px; background-color: red; padding: 50px 125px;">
  			<div style="width:450px; height:150px; background-color: yellow; padding:30px;">
  			  <p>
  			  	 ようこそ、NaganoCakeへ！<br>
                 このサイトは、ケーキ販売のECサイトになります。<br>
                 会員でない方も商品の閲覧はできますが、<br>
                 購入には会員登録が必要になります。<br>
              </p>
  			</div>
  		</div>
  		<h2>オススメ商品</h2>
  		<div class="box" style="width:190px; height:200px; background-color: yellow; float:left; margin-right:10px;">
  		  <div style="width:190px; height:120px; background-color: red; float:left;"></div>
          <p>商品名</p>
          <p>¥0,000</p>
  	    </div>
  		<div class="box" style="width:190px; height:200px; background-color: yellow; float:left; margin-right:10px;">
  		  <div style="width:190px; height:120px; background-color: red; float:left;"></div>
          <p>商品名</p>
          <p>¥0,000</p>
  	    </div>
  		<div class="box" style="width:190px; height:200px; background-color: yellow; float:left; margin-right:10px;">
  		  <div style="width:190px; height:120px; background-color: red; float:left;"></div>
          <p>商品名</p>
          <p>¥0,000</p>
  	    </div>
  		<div class="box" style="width:190px; height:200px; background-color: yellow; float:left; margin-right:10px;">
  		  <div style="width:190px; height:120px; background-color: red; float:left;"></div>
          <p>商品名</p>
          <p>¥0,000</p>
  	    </div>
  	</div>
  	<div class="row">
  	  <div class="col-xs-10"></div>
  	  <div class="col-xs-2">
  	    <p style="border-bottom:1px solid; width:100px;">もっと見る＞</p>
  	  </div>
    </div>
  </div>
</div>



<script>
  window.onload=function(){
        var yaya = document.getElementById('key');
        console.log(if document.addEventListener('keypress', 16) fanction);
        
    </script>



