<h1>注文履歴一覧</h1>

	  <table class="table">
	  <tr>
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
        <th>注文ステータス</th>
      </tr>
      <tr>
        <td>2019/11/20 23:55:12</td>
        <td>石倉基之</td>
        <td>1</td>
        <td>入金待ち</td>
      </tr>
      <tr>
        <td>2019/11/20 23:55:12</td>
        <td>石倉基之</td>
        <td>1</td>
        <td>入金待ち</td>
      </tr>
      <tr>
        <td>2019/11/20 23:55:12</td>
        <td>石倉基之</td>
        <td>1</td>
        <td>入金待ち</td>
      </tr>
      <tr>
        <td>2019/11/20 23:55:12</td>
        <td>石倉基之</td>
        <td>1</td>
        <td>入金待ち</td>
      </tr>
      <tr>
        <td>2019/11/20 23:55:12</td>
        <td>石倉基之</td>
        <td>1</td>
        <td>入金待ち</td>
      </tr>
      <tr>
        <td>2019/11/20 23:55:12</td>
        <td>石倉基之</td>
        <td>1</td>
        <td>入金待ち</td>
      </tr>
            <tr>
        <td>2019/11/20 23:55:12</td>
        <td>石倉基之</td>
        <td>1</td>
        <td>入金待ち</td>
      </tr>
            <tr>
        <td>2019/11/20 23:55:12</td>
        <td>石倉基之</td>
        <td>1</td>
        <td>入金待ち</td>
      </tr>
            <tr>
        <td>2019/11/20 23:55:12</td>
        <td>石倉基之</td>
        <td>1</td>
        <td>入金待ち</td>
      </tr>
    </table>

      <p style="text-align: center">⚫︎⚫︎⚫︎⚫︎⚫︎</p>