<div class="container">
	<h4>マイページ</h4>
	<p><strong>登録情報</strong><button type="button" class="btn btn-primary"> 編集する</button>
		<button type="button" class="btn btn-primary"> パスワードを変更する</button></p>
		<div class="row">
			<div class="col-xs-6">
				<table class="table table-bordered">
					<tr>
						<td>氏名</td>
						<th>member.name</th>
					</tr>
					<tr>
						<td>カナ</td>
						<th>member.kana</th>
					</tr>
					<tr>
						<td>郵便番号</td>
						<th>member.post_code</th>
					</tr>
					<tr>
						<td>住所</td>
						<th>member.address</th>
					</tr>
					<tr>
						<td>電話番号</td>
						<th>member.phone_nuber</th>
					</tr>
					<tr>
						<td>メールアドレス</td>
						<th>member.email</th>
					</tr>
				</table>
			</div>
		</div>
		<p><strong>配送先　　</strong><button type="button" class="btn btn-primary">一覧を見る</button></p><br>
		<p><strong>注文履歴　</strong><button type="button" class="btn btn-primary">一覧を見る</button></p><br>
	</div>
