<div class="container">
  <div class="row">

    <div class="col-xs-5">
      <h2>ジャンル編集</h2>

      <!-- ジャンル用form_forで記載する時削除 -->
      <p style="margin: 70px 0 30px;">
        ジャンル　<input type="text" name="item_name" size="10">　
        <input type="radio" name="status" value="有効"> 有効　
        <input type="radio" name="status" value="無効"> 無効
        <button class="btn btn-primary pull-right">変更を保存する</button>
      </p>
  </div>
</div>