<div class="container">
  <div class="row">
    <div class="col-xs-10">
      <h2>ショッピングカート</h2>
    </div>
    <div class="col-xs-2">
      <div class="btn btn-danger">カートを空にする</div>
    </div>
  </div>
  <div class="row">
	  <table class="table-bordered">
	  <tr>
        <th style="width:430px; height:70px;">商品名</th>
        <th style="width:180px;">単価（税込）</th>
        <th style="width:180px;">数量</th>
        <th style="width:180px;">小計</th>
        <th style="width:180px;"></th>
      </tr>
      <% @cart_items.each do |cart_item| %>
      <tr>
        <td style="height:70px;"><div style="width:50px; height:30px; border:1px solid; float:left; margin:0 10px;"></div><p style="float:left;"><%= cart_item.item.item_name %></p></td>
        <td><%= cart_item.item.unit_price_without_tax %></td>
        <td><div style="border: 1px solid; width: 30px; height: 35px; margin-left:20px; float:left;"><%= cart_item.number_of_items %></div>
            <div class="btn btn-primary" style="float:left; margin-left:20px;">変更</div>
        </td>
        <td>1,100</td>
        <td><div class="btn btn-danger" style="margin-left:50px;">削除する</div></td>
      </tr>
      <% end %>
    </table>

  </div>
  <div="row">
    <div class="col-xs-9">
      <div class="btn btn-primary" style="margin-top:50px;">買い物を続ける</div>
    </div>
    <div class="col-xs-3">
      <div style="margin-top:50px; text-align:center;">
        <div style="width:125px; height:60px; border: 1px solid; float:left; padding:20px;">合計金額</div>
        <div style="width:125px; height:60px; border: 1px solid; float:left; padding:20px;">1,760</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <div class="btn btn-success btn-lg" style="width: 250px;">情報入力に進む</div>
    </div>
    <div class="col-xs-4"></div>
  </div>

</div>

     