<div class="container">
	<h2>注文履歴一覧</h2>
	<table class="table table-bordered">
		<tr>
			<td>注文日</td>
			<td>配送先</td>
			<td>注文商品</td>
			<td>支払金額</td>
			<td>ステータス</td>
			<td>注文詳細</td>
		</tr>
		<tr>
			<th>20**/00/00</th>
			<th>住所が入ります</th>
			<th>注文した全商品が入ります</th>
			<th>支払い金額が入ります</th>
			<th>状態が入ります</th>
			<th> <%=button_to "表示する","#",method: :get , class: "btn btn-primary" %></th>
			<!-- public_orders_path :idが必要 -->
		</tr>
		<tr>
			<th>20**/00/00</th>
			<th>住所が入ります</th>
			<th>注文した全商品が入ります</th>
			<th>支払い金額が入ります</th>
			<th>状態が入ります</th>
			<th> <%=button_to "表示する","#",method: :get , class: "btn btn-primary" %></th>
			<!-- public_orders_path :idが必要 -->
		</tr>
	</table>
</div>