/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";  /*ここを追加*/
 @import "bootstrap";

/* ログイン者名 */

#youkoso {
  padding: 35px 80px 0 0;
  color: white;
}
/*members_registations*/
.members_edit{
  margin-bottom: 20px;
}

.members_field{
  margin-bottom: 20px;
}

#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 1;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 2;
}


/* 見出し */

h2 {
  position: relative;
  padding: 0.5em;
  background: #a6d3c8;
  color: white;
  width: 45%;
  text-align: center;
}

h2::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);
}

.genre_said {
  position: relative;
  color: #158b2b;
  font-size: 15px;
  padding: 10px 0;
  text-align: center;
  margin: 1.5em 0;
}
.genre_said:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  width: 150px;
  height: 58px;
  border-radius: 50%;
  border: 5px solid #a6ddb0;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.underline {
  background: linear-gradient(transparent 40%, #E6FFE9 90%);
}




html {
  height:100%;
}

body{
  height:100%;
}

main {
  height: 100%;
}

header {
 background-color: seagreen;
}
 .navbar {
 border-radius :0px;
 }

 .navbar-nav li {
 font-size: 15px;
 padding-top: 15px;
}
.takasa{
  min-height:74vh;
}

#container{
	height: 450px;
	width: 550px;
}





.image1 {
background-image: url(image1.jpg);
}
.image2 {
background-image: url(image2.jpg);
}
.image3 {
background-image: url(image3.jpg);
}
.image4 {
background-image: url(image4.jpg);
}
.image5 {
background-image: url(image5.jpg);
}

input[type="email"] {
        width: 370px;
    }

input[type="password"] {
        width: 370px;
}

.member-address input[type="text"] {
        width: 370px;
}

.bg_top {
  width:790px;
  height:250px;
  margin-top: 20px;
  background-image: url(shop.jpg);
  background-size: cover;
  background-position: center;
  padding: 50px 200px;
}

.bg-top2 {
  margin: auto;
  width: 50px;
  height: 150px;
  padding: 30px
}

.bg_top2 p {
  font-size: 16px;
  text-align: center;
  line-height: 240%;
  background-color: rgba(255,255,255,0.7);
}

.font-text {
  font-family: 'TsukuBRdGothic-Regular','ＭＳ 明朝', 'MS Mincho',sans-serif;
}

.navbar-nav  li  a:hover {
  background-color: darkgreen;
}

.navbar-nav  li  a {
  color: white;
  font-weight: bold;
}

.wf-mplus1p { font-family: "M PLUS 1p"; }


.recommendation {
  font-family: "M PLUS 1p";
}

.recommendation-items {
  float: left;
  margin-right: 50px;
}

/* コンテンツの要素が足りなくてもフッターを隙間なく設置する */
#wrapper {
  width: 100%;
  position: relative;
  min-height: 100%;
}


#content {
  padding-top: 30px;
  padding-bottom: 60px;
}

#footer {
  width: 100%;
  height: 80px;
  background-color: darkseagreen;
  bottom: 0;
}

.recommendation-items {
  float: left;
  margin-right: 50px;
}

/*インスタアイコン*/
.insta_btn {
  display: inline-block;
  text-align: center;/*中央揃え*/
  color: #2e6ca5;/*文字色*/
  font-size: 20px;/*文字サイズ*/
  text-decoration: none;/*下線消す*/
}

.insta_btn:hover {/*ホバー時*/
  color:#668ad8;/*文字色*/
  transition: .5s;/*ゆっくり変化*/
}
.insta_btn .insta{/*アイコンの背景*/
  position: relative;/*相対配置*/
  display: inline-block;
  width: 50px;/*幅*/
  height: 50px;/*高さ*/
  background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
  overflow: hidden;/*はみ出た部分を隠す*/
  border-radius: 13px;/*角丸に*/

}
.insta_btn .insta:before{/*グラデーションを重ねるため*/
  content: '';
  position: absolute;/*絶対配置*/
  top: 23px;/*ずらす*/
  left: -18px;/*ずらす*/
  width: 60px;/*グラデーションカバーの幅*/
  height: 60px;/*グラデーションカバーの高さ*/
  background: -webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
  background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);/*グラデーション②*/
}
.insta_btn .fa-instagram {/*アイコン*/
  color: #FFF;/*白に*/
  position: relative;/*z-indexを使うため*/
  z-index: 2;/*グラデーションより前に*/
  font-size: 35px;/*アイコンサイズ*/
  line-height: 50px;/*高さと合わせる*/
}
/*ツイッター*/


$timing        : 265ms;
$iconColor     : #1DA1F2;
$accent        : #c648c8;
$grape         : #7b00e0;
$orchid        : #ae31d9;

@mixin transformScale($size: 1) {
    transform: scale($size);
    -ms-transform: scale($size);
    -webkit-transform: scale($size);
}

.social-icons {
    li {
        display: inline-block;
        margin: 0.15em;
        position: relative;
        font-size: 1.2em;

    }

    i {
        color: #fff;
        position: absolute;
        top: 21px;
        left: 21px;
        transition: all $timing ease-out;
    }

    a {
        display: inline-block;

        &:before {
            @include transformScale();
            content: " ";
            width: 60px;
            height: 60px;
            border-radius: 100%;
            display: block;
            background: linear-gradient(45deg, $iconColor, $accent);
            transition: all $timing ease-out;
        }

        &:hover:before {
            transform: scale(0);
            transition: all $timing ease-in;
        }

        &:hover i {
            @include transformScale(2.2);
            color: $iconColor;
            background: -webkit-linear-gradient(45deg, $iconColor, $accent);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all $timing ease-in;
        }
    }
    }
/*フェイスブック*/
.btn-social-icon-facebook {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: #4966a0;;
  font-size: 25px;
  text-decoration: none;
}

.btn-social-icon-facebook:hover {
  color:#668ad8;
  transition: .5s;
}

.btn-social-icon-facebook__square {
  border-radius: 10px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 35px;
  line-height: 50px;
  color: #FFF;
  background: #4966a0;;
}

.btn-social-icon-facebook__square .fa-facebook {
  position: absolute;
  bottom: -3px;
  right: 6px;
  font-size: 42px;
}

.icons {
  display: flex;
  justify-content: center;
}


/*6/7村田が追加したところここから*/
#multiple-items {
  margin-left: 60px;
}

.recommendation {
  margin-left: 260px;
}



strong {
  font-size: 20px;
}


img {
  object-fit: cover; /* 画像の比率修正。この一行を追加するだけ！ */
}

.mypage {
  margin-left:20px;
}

.under_mypage {
  margin:20px 0 0 20px;
}

.mypage_edit {
  margin: 0 15px
}

.user_edit {
  margin-bottom: 15px;
}

.cart_continue_to_order {
  text-align: center;
}

/*ここまで*/

#content{
background: image-url('favicon.ico');
background-position: bottom;
background-repeat:repeat-x;
padding-top:10px;
 }

 /*wasabichan*/

.wasabichan-on{
  position: relative;         /* 位置指定 */
  animation: anime 2s 0s infinite alternate;

}
@keyframes anime {
 0% {
        left: 0;
        opacity: 0.1;
    }
    50% {
        left: 200px;
        opacity: 0.5;
    }
    100% {
        left: 400px;
        opacity: 1;

    }
}

img.wasabichan {
  width:260px;
  height:200px;
  opacity: 0;
  margin-bottom: -100px;
}
.wasabichan-hiden{
  display: none;
}

img.wasabichan2 {
  width:260px;
  height:200px;
  opacity: 0;
  position: absolute;

}
.icon-flex{
  background-image: url(cart3.png);
  width: 34px;
  height: 34px;
  background-size: cover;
}

.icon-count{
    margin-left: 14px;
    color: orange;
}

.cart{
    font-size: 13px;
    position: absolute;
    top: 45px;
}

.about-show{
}
.about-index{
}
.about-s{
  position: absolute;
  display: none;
}

#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 3;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 4;
}

