/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";  /*ここを追加*/
 @import "bootstrap"; 


header {
 background-color: seagreen;
}
 .navbar {
 border-radius :0px;
 }

 .navbar-nav li {
 font-size: 15px;
 padding-top: 20px;
}


#container{
	height: 450px;
	width: 550px;
}

.image1 {
background-image: url(image1.jpg);
}
.image2 {
background-image: url(image2.jpg);
}
.image3 {
background-image: url(image3.jpg);
}
.image4 {
background-image: url(image4.jpg);
}
.image5 {
background-image: url(image5.jpg);
}

input[type="email"] {
        width: 350px;
    }

input[type="password"] {
        width: 350px;
}

.bg_top {
  width:790px;
  height:250px;
  margin-top: 20px;
  background-image: url(shop.jpg);
  background-size: cover;
  background-position: center;
  padding: 50px 200px;
}

.bg-top2 {
  margin: auto;
  width: 50px;
  height: 150px;
  padding: 30px
}

.bg_top2 p {
  font-size: 16px;
  text-align: center;
  line-height: 240%;
  background-color: rgba(255,255,255,0.7);
}

.font-text {
  font-family: 'TsukuBRdGothic-Regular','ＭＳ 明朝', 'MS Mincho',sans-serif;
}

.navbar-nav  li  a:hover {
  background-color: darkgreen;
}

.navbar-nav  li  a {
  color: white;
  font-weight: bold;
}

.wf-mplus1p { font-family: "M PLUS 1p"; }

}
#order_address{
	width:500px;
}

#keys{
background-color:black;
}
#keys:hover{
	background-color:red;
  
.recommendation-items {
  float: left;
  margin-right: 50px;
}