<div class="container">
  <div class="row">
  	<%= render "public/shared/sidebar" %>

  	<div class="col-xs-9">
  	  <h2>商品一覧<span style="font-size:14px;">（全X件）</span></h2>
  	    <div class="row" style="margin-bottom:40px;">
  	      <div class="box" style="width:190px; height:200px; background-color: yellow; float:left; margin-right:10px;">
  		    <div style="width:190px; height:120px; background-color: red; float:left;"></div>
            <p>商品名</p>
            <p>¥0,000</p>
  	      </div>
  		  <div class="box" style="width:190px; height:200px; background-color: yellow; float:left; margin-right:10px;">
  		    <div style="width:190px; height:120px; background-color: red; float:left;"></div>
           <p>商品名</p>
            <p>¥0,000</p>
  	      </div>
  		  <div class="box" style="width:190px; height:200px; background-color: yellow; float:left; margin-right:10px;">
  		    <div style="width:190px; height:120px; background-color: red; float:left;"></div>
            <p>商品名</p>
            <p>¥0,000</p>
  	      </div>
  		  <div class="box" style="width:190px; height:200px; background-color: yellow; float:left; margin-right:10px;">
  		    <div style="width:190px; height:120px; background-color: red; float:left;"></div>
            <p>商品名</p>
            <p>¥0,000</p>
  	      </div>
  	    </div>
  	    <div class="row" style="margin-bottom:40px;">
  	      <div class="box" style="width:190px; height:200px; background-color: yellow; float:left; margin-right:10px;">
  		    <div style="width:190px; height:120px; background-color: red; float:left;"></div>
            <p>商品名</p>
            <p>¥0,000</p>
  	      </div>
  		  <div class="box" style="width:190px; height:200px; background-color: yellow; float:left; margin-right:10px;">
  		    <div style="width:190px; height:120px; background-color: red; float:left;"></div>
           <p>商品名</p>
            <p>¥0,000</p>
  	      </div>
  		  <div class="box" style="width:190px; height:200px; background-color: yellow; float:left; margin-right:10px;">
  		    <div style="width:190px; height:120px; background-color: red; float:left;"></div>
            <p>商品名</p>
            <p>¥0,000</p>
  	      </div>
  		  <div class="box" style="width:190px; height:200px; background-color: yellow; float:left; margin-right:10px;">
  		    <div style="width:190px; height:120px; background-color: red; float:left;"></div>
            <p>商品名</p>
            <p>¥0,000</p>
  	      </div>
  	    </div>
  	    <div class="row">
  	      <p style="text-align: center">⚫︎⚫︎⚫︎⚫︎⚫︎</p>
  	    </div>
  	</div>
  </div>
</div>