<div class="container">
  <div class="row">
  	<%= render "public/shared/sidebar" %>

  	<div class="col-xs-9">
  	  <div class="row">
  	  	<div style="width:300px; height:200px; background-color: red; float:left; margin:15px 50px;"></div>
  	  	<div style="width:400px; height:300px; float:left;">
  	  	  <h2>いちごのショートケーキ</h2>
  	  	  <p>商品の説明文です商品の説明文です商品の説明文です商品の説明文です商品の説明文です商品の説明文です商品の説明文です商品の説明文です商品の説明文です商品の説明文です商品の説明文です商品の説明文です商品の説明文です商品の説明文です商品の説明文です商品の説明文です商品の説明文です</p>
  	  	  <h3>¥550<span style="font-size:12px;">（税込）</span></h3>
  	  	</div>
  	  </div>
  	  <div class="row">
  	  	<div class="col-xs-7"></div>
  	  	<div class="col-xs-5">
  	  	  <div style="border-radius: 5px; width: 120px; height: 25px; border:1px solid; float:left; margin-top:5px; margin-right:20px;">　個数選択　▼</div>
  	  	  <div class="btn btn-primary" style="float:left;">カートに入れる</div>
  	  	</div>
  	  </div>

  	</div>
  </div>
</div>